.contact__field {
    margin: 0;
    padding: .90em .8em .90em .8em;
    font-size: 0.875em;
    border-radius: 0;
    border: 1px solid #000;
    width: 20em;
}

.contact__field::-webkit-input-placeholder {
    letter-spacing: 0.375em;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    color: #000;
}
.contact__field::-moz-placeholder {
    letter-spacing: 0.375em;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    color: #000;
}
.contact__field::-ms-input-placeholder {
    letter-spacing: 0.375em;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    color: #000;
}
.contact__field::placeholder {
    letter-spacing: 0.375em;
    text-transform: uppercase;
    font-size: 0.875em;
    text-align: center;
    color: #000;
}