.crumbs__item {
    text-decoration: none;
    display: inline-block;
    margin-left: 2.5em;
}

.crumbs__item:first-child {
    margin: 0;
}

@media screen and (max-width: 640px){
    .crumbs__item {
        font-size: 2.8em;
    }
}