.navbar {
    padding: 1em 0 2.2em 0;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 640px){
    .header .navbar {
        padding-bottom: 40px;
    }

    .footer .navbar {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 640px){
    .header .navbar {
        padding-bottom: 20px;
    }

    .footer .navbar {
        padding-bottom: 10px;
    }
}