.page-title {
    font-size: 2.8125em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

@media screen and (max-width: 640px){
    .page-title {
        font-size: 6.6em;
    }
}

@media screen and (max-width: 500px){
    .page-title {
        font-size: 12px;
    }
}