.footer__columns {
    width: 58em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

@media screen and (max-width: 640px){
    .footer__columns {
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 450px;
        justify-content: center;
        margin-bottom: 55px;
    }
}
