#slider-header .slider__title {
    padding: 0;
    margin: .2em 0 0 0;
    font-family: 'Danger', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 6.1875em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#slider-exhibitions .slider__title {
    padding: 0;
    margin: 0;
    font-family: 'Danger', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 4.375em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media screen and (max-width: 515px) {
    .slider__title {
        font-size: 9em !important;
    }
}