.contacts__container {
    padding: 4.6875em 0 3.75em 0;
    max-width: 1170px;
    height: 5em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}