.navbar__tel {
    display: block;
    font-weight: bold;
    font-size: 1.75em;
}

@media screen and (max-width: 640px){
    .navbar__tel {
        font-size: 4.66em;
    }
}

@media screen and (max-width: 310px) {
    .navbar__tel {
        font-size: 12px !important;
    }
}
