.contact__submit {
    padding: .90em 2em .90em 2em;
    text-transform: uppercase;
    letter-spacing: 0.3125em;
    font-size: 0.875em;
    margin-left: -0.3125em;
    border-radius: 0;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

.contact__submit:hover {
    cursor: pointer;
}
