.map__container {
    max-width: 1920px;
    height: 36.8125em;
    background-image: url(../../../images/map.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 420px){
    .map__container {
        height: 36em !important;
    }
}