.news__title {
    margin: 0;
    font-size: 1.5625em;
    letter-spacing: 0.3125em;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 215px;
}

@media screen and (max-width: 450px){
    .news__title{
        font-size: 3em !important;
    }
}