.root {
    font-family: 'Myriad Pro', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1500px){

  .root {
      font-size: 15px;
  }

}

@media screen and (max-width: 1410px){

    .root {
        font-size: 14px;
    }

}

@media screen and (max-width: 1323px){

    .root {
        font-size: 13px;
    }

}

@media screen and (max-width: 1228px){

    .root {
        font-size: 12px;
    }

}

@media screen and (max-width: 1163px){

    .root {
        font-size: 11px;
    }

}

@media screen and (max-width: 1053px){

    .root {
        font-size: 10px;
    }

}

@media screen and (max-width: 963px){

    .root {
        font-size: 9px;
    }

}

@media screen and (max-width: 883px){

    .root {
        font-size: 8px;
    }

}

@media screen and (max-width: 793px){

    .root {
        font-size: 7px;
    }

}

/* Адаптивное разрешение */
@media screen and (max-width: 700px){

    .root {
        font-size: 6px;
    }

}

@media screen and (max-width: 500px){

    .root {
        font-size: 4px;
    }

}