.contact__title {
    font-size: 1.0625em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3125em;
}

@media screen and (max-width: 515px) {
    .contact__title {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 355px){
    .contact__title {
        font-size: 12px !important;
    }
}