.slider__date {
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    padding: 0.8125em 1.25em;
    margin: 0;
    background-color: #e4be8c;
}

@media screen and (max-width: 515px) {
    .slider__date {
        font-size: 9px !important;
    }
}