.navbar__block_right {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 640px){
    .navbar__block_right {
        max-width: 600px;
    }
}