/* Шрифты */
@import url(../blocks/fonts/fonts.css);

/* Общие стили */
@import url(../blocks/root/root.css);
@import url(../blocks/marged/marged.css);

/* Поиск */
@import url(../blocks/search/search.css);

/* Иконка прокрутки мыши */
@import url(../blocks/scroll-mouse/scroll-mouse.css);
@import url(../blocks/scroll-mouse/__mouse/scroll-mouse__mouse.css);
@import url(../blocks/scroll-mouse/__arrow/scroll-mouse__arrow.css);

/* Блок языка */
@import url(../blocks/language/language.css);
@import url(../blocks/language/__current-lng/language__current-lng.css);
@import url(../blocks/language/__change-lng/language__change-lng.css);

/* Блок с названием компании */
@import url(../blocks/company/company.css);
@import url(../blocks/company/__title/company__title.css);
@import url(../blocks/company/__subtitle/company__subtitle.css);
@import url(../blocks/company/_theme/company_theme_dark.css);
@import url(../blocks/company/_theme/company_theme_light.css);

/* Выравнивание текста */
@import url(../blocks/text-align/_left.css);
@import url(../blocks/text-align/_right.css);
@import url(../blocks/text-align/center.css);

/* Ссылки */
@import url(../blocks/link/link.css);
@import url(../blocks/link/_theme/link_theme_dark.css);
@import url(../blocks/link/_theme/link_theme_light.css);
@import url(../blocks/link/_underlined/link_underlined.css);
@import url(../blocks/link/_sm/link_sm.css);
@import url(../blocks/link/_strong/link_strong.css);

/* Логотипы */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

/* Заголовки */
@import url(../blocks/title/title.css);
@import url(../blocks/page-title/page-title.css);

/* Шапка */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__subline/header__subline.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Навигационное меню */
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/__block/navbar__block_left.css);
@import url(../blocks/navbar/__block/navbar__block_right.css);
@import url(../blocks/navbar/__list/navbar__list.css);
@import url(../blocks/navbar/__item/navbar__item.css);
@import url(../blocks/navbar/__phone/navbar__phone.css);
@import url(../blocks/navbar/__tel/navbar__tel.css);
@import url(../blocks/navbar/_theme/navbar_theme_dark.css);
@import url(../blocks/navbar/_theme/navbar_theme_light.css);
@import url(../blocks/navbar/__menu-ic/navbar__menu-ic.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Форма контактная */
@import url(../blocks/contact/contact.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contact/__block/contact__block.css);
@import url(../blocks/contact/__title-block/contact__title-block.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__form/contact__form.css);
@import url(../blocks/contact/__field/contact__field.css);
@import url(../blocks/contact/__submit/contact__submit.css);
@import url(../blocks/contact/__first-block/contacts__first-block.css);
@import url(../blocks/contact/__second-block/contacts__second-block.css);

/* Секция связи */
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__container/contacts__container.css);

/* Таблица товаров */
@import url(../blocks/products/products.css);
@import url(../blocks/products/__list/products__list.css);
@import url(../blocks/products/__item/products__item.css);
@import url(../blocks/products/__link/products__link.css);
@import url(../blocks/products/__img-container/products__img-container.css);
@import url(../blocks/products/__img/products__img.css);

/* Подвал */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column-item/footer__column-item.css);
@import url(../blocks/footer/__column-title/footer__column-title.css);
@import url(../blocks/footer/__link/footer__link.css);

.products {
    margin-top: -4em;
    margin-bottom: 10em;
}

.products__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
}

.products__item {
    width: 100%;
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    padding: 4.5em 0;
}

.products__img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 0 -5em 0 0 ;
}

.products__img {
    position: static;
    margin: auto 0;
}

.product__text {
    width: 40%;
    text-align: start;
    font-size: 1.125em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.contact__title {
    margin-right: 2.1875em;
}

.contacts {
    display: none;
}

.contact__form {
    text-align: center;
}

@media screen and (max-width: 640px){

    .products__list {
        max-width: 550px;
        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }

    .products__item {
        width: 100%;
        max-height: 260px;
    }

    .products__img-container {
        width: 35%;
        height: 100%;
        max-width: none;
        min-width: auto;
        max-height: none;
    }

    .products__img {
        height: auto;
        max-height: none;
        max-width: 100%;
        object-fit: contain;
        object-position: center bottom;
    }

    .title {
        max-width: 245px;
        text-align: left;
        line-height: 30px;
        letter-spacing: 1em;
        margin: 0;
        padding: 2em 0 1em 0;
        font-size: 14px;
    }
    .container {
        max-width: 550px;
        margin: 0 auto;
    }

    .product__text {
        font-size: 15px;
        width: 45%;
    }

    .contacts {
        display: flex;
        margin-bottom: 0;
    }

    .cnt-first {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .products__link {
        font-size: 16px;
    }

    .product__description {
        font-size: 13px;
    }

    .title {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 380px){
    .products__link {
        font-size: 14px;
    }

    .product__description {
        font-size: 11px;
    }

    .title {
        font-size: 11px;
    }
}

@media screen and (max-width: 345px){
    .products__link {
        font-size: 12px;
    }

    .product__description {
        font-size: 9px;
    }
}

@media screen and (max-width: 253px){
    .contact__title {
        font-size: 10px !important;
    }
}