/* Шрифты */
@import url(../blocks/fonts/fonts.css);

/* Общие стили */
@import url(../blocks/root/root.css);
@import url(../blocks/marged/marged.css);
@import url(../blocks/container/container.css);

/* Поиск */
@import url(../blocks/search/search.css);

/* Блок языка */
@import url(../blocks/language/language.css);
@import url(../blocks/language/__current-lng/language__current-lng.css);
@import url(../blocks/language/__change-lng/language__change-lng.css);

/* Блок с названием компании */
@import url(../blocks/company/company.css);
@import url(../blocks/company/__title/company__title.css);
@import url(../blocks/company/__subtitle/company__subtitle.css);
@import url(../blocks/company/_theme/company_theme_dark.css);
@import url(../blocks/company/_theme/company_theme_light.css);

/* Выравнивание текста */
@import url(../blocks/text-align/_left.css);
@import url(../blocks/text-align/_right.css);
@import url(../blocks/text-align/center.css);

/* Ссылки */
@import url(../blocks/link/link.css);
@import url(../blocks/link/_theme/link_theme_dark.css);
@import url(../blocks/link/_theme/link_theme_light.css);
@import url(../blocks/link/_underlined/link_underlined.css);
@import url(../blocks/link/_sm/link_sm.css);
@import url(../blocks/link/_strong/link_strong.css);


/* Логотипы */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

/* Заголовки */
@import url(../blocks/title/title.css);
@import url(../blocks/page-title/page-title.css);

/* Шапка */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__subline/header__subline.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Навигационное меню */
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/__block/navbar__block_left.css);
@import url(../blocks/navbar/__block/navbar__block_right.css);
@import url(../blocks/navbar/__list/navbar__list.css);
@import url(../blocks/navbar/__item/navbar__item.css);
@import url(../blocks/navbar/__phone/navbar__phone.css);
@import url(../blocks/navbar/__tel/navbar__tel.css);
@import url(../blocks/navbar/_theme/navbar_theme_dark.css);
@import url(../blocks/navbar/_theme/navbar_theme_light.css);
@import url(../blocks/navbar/__menu-ic/navbar__menu-ic.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Форма контактная */
@import url(../blocks/contact/contact.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contact/__block/contact__block.css);
@import url(../blocks/contact/__title-block/contact__title-block.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__form/contact__form.css);
@import url(../blocks/contact/__field/contact__field.css);
@import url(../blocks/contact/__submit/contact__submit.css);
@import url(../blocks/contact/__first-block/contacts__first-block.css);
@import url(../blocks/contact/__second-block/contacts__second-block.css);
@import url(../blocks/contacts/__container/contacts__container.css);

/* Секция связи */
@import url(../blocks/contacts/contacts.css);

/* Подвал */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column-item/footer__column-item.css);
@import url(../blocks/footer/__column-title/footer__column-title.css);
@import url(../blocks/footer/__link/footer__link.css);

/* Крошки */
@import url(../blocks/crumbs/crumbs.css);
@import url(../blocks/crumbs/__item/crumbs__item.css);
@import url(../blocks/crumbs/__list/crumbs__list.css);

section {
    margin: 0 8.75em;
}

.upper-block {
    width: 100%;
    margin-bottom: 6.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.upper-block p {
    font-size: 1.4em;
}

.upper-block strong {
    font-size: 1.5625em;
}

.upper-block .page-title {
    margin: 0;
    font-size: 2.8125em;
}

.upper-block img{
    width: 65%;
    height: 80%;
}

.upper-block ul {
    list-style: none;
    padding: 0;
}

.contacts-list {
    width: 15%;
    display: inline-block;
    margin-right: 7.8125em;
}

.contacts-list li {
    margin-bottom: 3em;
    line-height: 2em;
}

.contacts-list li p {
    margin-top: 0;
}

.contacts-dt-list li{
    margin: .3em 0 .6em 0;
    line-height: 1em;
    font-size: 1.4em;
}

.dark {
    margin-top: 5em;
    background-color: #f2f2f2;
    padding-top: 3em;
    padding-bottom: 7em;
}

.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item__list-stat strong {
    font-size: 1.5625em;
}

.lists .item__list-stat:first-child {
    width: 50%;
}

.lists .item__list-stat:nth-child(2){
    width: 10%;
    margin-right: 4em;
}

.lists .item__list-stat:nth-child(3){
    width: 40%;
}

.title {
    margin-bottom: -1.5em;
}

.item__list-stat {
    list-style: none;
    min-height: 18.125em;
    font-size: 1.5625em;
    line-height: 1.5625em;
    padding: 0;
}

.item__list-stat strong {
    display: block;
}


.item__list-stat:first-child strong {
    margin-bottom: 1em;
}

.item__list-stat:nth-child(1) li {
    margin-top: 1em;
}

.item__list-stat:nth-child(2) li {
    margin-top: 1.5em;
}

.item__list-stat:nth-child(2) li strong{
    font-size: 1.2em;
    margin-top: -.5em;
}

.item__list-stat:nth-child(2) li p{
    padding: 0;
    margin: 0;
}

.item__list-stat:nth-child(3) li {
    font-size: .8em;
}

.item__list-stat:nth-child(3) .link {
    letter-spacing: normal;
}

.two-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
    width: 90%;
}

.two-col li {
    width: 45%;
}

.two-col li:first-child {
    width: 45%;
}

.two-col li:last-child {
    margin-left: auto;
}

.two-col li p {
    margin: 0;
}

.scheme {
    width: 100%;
    margin-bottom: 6.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.scheme p {
    font-size: 1.4em;
}

.page-title-2 {
    width: 13%;
}

.scheme strong {
    font-size: 1.5625em;
}

.scheme .contacts-list li {
    margin-top: -1.3em;
}

.scheme .page-title-2 {
    margin: 0 0 3em 0;
    font-weight: bold;
    font-size: 2.8125em;
}

.scheme img{
    width: 60%;
    height: auto;
}

.scheme ul {
    list-style: none;
    padding: 0;
    width: 20%;
}

.page-title-2.mob {
    display: none;
}

.inputs {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2em 0 0;
}

.inputs li:nth-child(2) {
    margin: 1.5625em 0;
}

.contact__left-block{
    width: 45%;
}

.contact__right-block {
    display: inline-block;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9em;
}

.contact-section form {
    width: 100%;
}

.contact-section form textarea {
    width: 100%;
    display: block;
    height: 75%;
}

.contact__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-right-block {
    width: 100%;
}

.contact-right-block input {
    margin-left: 0;
}

.contact__title-block span {
    text-transform: none;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 1.875em;
}

.mob {
    display: none;
}

@media screen and (max-width: 640px){

    .mob {
     display: block;
    }

    .upper-block {
        flex-direction: column;
    }

    .upper-block img {
        width: 100%;
        margin: 0 -6.6em;
    }

    .upper-block .contacts-list {
        width: 88%;
        font-size: 2.5em;
    }

    .upper-block .contacts-list li {
        display: inline-block;
        line-height: 1.5em;
        width: 45%;
        margin: 0;
    }

    .upper-block .contacts-list li:first-of-type {
        display: none;
    }

    .upper-block .contacts-list li:last-child {
        float: right;
    }

    .upper-block .page-title {
        font-size: 3em !important;
    }

    .lists.mob {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .lists.mob .contacts-list {
        padding: 0;
        list-style: none;
        width: 100%;
        font-size: 20px;
        margin-right: 0;
        margin-top: 0;
    }

    .lists.mob .contacts-list li {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .lists.mob .contacts-list:last-child {
        width: 50%;
    }

    .lists.mob .contacts-list strong {
        line-height: 2;
    }

    .dark {
        margin-top: 0;
    }

    .item__list-stat {
        width: 30%;
        font-size: 20px;
    }

    .item__list-stat strong {
        font-size: 20px;
    }


    .item__list-stat:first-child {
        display: none;
    }

    .lists .item__list-stat:nth-child(2) {
        width: 40%;
        margin-right: 0;
    }

    .lists .item__list-stat:nth-child(3) {
        width: 36%;
    }

    .two-col li {
        width: 100% !important;
        line-height: 1.3;
    }

    .item__list-stat:last-child .two-col{
        flex-direction: column !important;
        width: 100%;
    }

    .item__list-stat:last-child .two-col li:last-child {
        margin-left: 0;
        margin-top: 10px;
    }

    .lists {
        flex-direction: row-reverse;

    }

    .page-title-2 {
        order: -1;
        font-size: 40px !important;
        width: 100%;
        margin-bottom: 40px !important;
    }

    .scheme {
        flex-direction: column;
    }

    .scheme img {
        order: 0;
        width: 100%;
        margin-left: -9em;
    }

    .scheme .contacts-list {
        order: 1;
        margin-top: 40px;
        width: 55%;
    }

    .scheme .contacts-list p {
        margin-top: 40px;
    }

    .scheme .contacts-list strong, .scheme .contacts-list p {
        font-size: 20px;
        line-height: 1;
    }

    .scheme .contacts-list .contacts-list__title {
        margin-bottom: 40px;
    }

    .page-title-2 {
        display: none;
    }

    .page-title-2.mob {
        display: block;
    }

    .contact-section {
        flex-direction: column;
        height: auto;
    }

    .contact__form {
        flex-direction: column;
        font-size: 14px;
    }

    .contact__field::-webkit-input-placeholder {
        text-align: left;
    }
    .contact__field::-moz-placeholder {
        text-align: left;
    }
    .contact__field::-ms-input-placeholder {
        text-align: left;
    }
    .contact__field::placeholder {
        text-align: left;
    }

    .contact__form textarea {
        margin-top: 10px;
    }

    .contact__title {
        font-size: 30px !important;
    }

    .contact__title-block {
        margin-bottom: 30px;
    }
}