/* Шрифты */
@import url(../blocks/fonts/fonts.css);

/* Общие стили */
@import url(../blocks/root/root.css);
@import url(../blocks/marged/marged.css);
@import url(../blocks/container/container.css);

/* Поиск */
@import url(../blocks/search/search.css);

/* Блок языка */
@import url(../blocks/language/language.css);
@import url(../blocks/language/__current-lng/language__current-lng.css);
@import url(../blocks/language/__change-lng/language__change-lng.css);

/* Блок с названием компании */
@import url(../blocks/company/company.css);
@import url(../blocks/company/__title/company__title.css);
@import url(../blocks/company/__subtitle/company__subtitle.css);
@import url(../blocks/company/_theme/company_theme_dark.css);
@import url(../blocks/company/_theme/company_theme_light.css);

/* Выравнивание текста */
@import url(../blocks/text-align/_left.css);
@import url(../blocks/text-align/_right.css);
@import url(../blocks/text-align/center.css);

/* Ссылки */
@import url(../blocks/link/link.css);
@import url(../blocks/link/_theme/link_theme_dark.css);
@import url(../blocks/link/_theme/link_theme_light.css);
@import url(../blocks/link/_underlined/link_underlined.css);
@import url(../blocks/link/_sm/link_sm.css);
@import url(../blocks/link/_strong/link_strong.css);


/* Логотипы */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

/* Заголовки */
@import url(../blocks/title/title.css);
@import url(../blocks/page-title/page-title.css);

/* Шапка */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__subline/header__subline.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Навигационное меню */
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/__block/navbar__block_left.css);
@import url(../blocks/navbar/__block/navbar__block_right.css);
@import url(../blocks/navbar/__list/navbar__list.css);
@import url(../blocks/navbar/__item/navbar__item.css);
@import url(../blocks/navbar/__phone/navbar__phone.css);
@import url(../blocks/navbar/__tel/navbar__tel.css);
@import url(../blocks/navbar/_theme/navbar_theme_dark.css);
@import url(../blocks/navbar/_theme/navbar_theme_light.css);
@import url(../blocks/navbar/__menu-ic/navbar__menu-ic.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Форма контактная */
@import url(../blocks/contact/contact.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contact/__block/contact__block.css);
@import url(../blocks/contact/__title-block/contact__title-block.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__form/contact__form.css);
@import url(../blocks/contact/__field/contact__field.css);
@import url(../blocks/contact/__submit/contact__submit.css);
@import url(../blocks/contact/__first-block/contacts__first-block.css);
@import url(../blocks/contact/__second-block/contacts__second-block.css);
@import url(../blocks/contacts/__container/contacts__container.css);

/* Секция связи */
@import url(../blocks/contacts/contacts.css);

/* Подвал */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column-item/footer__column-item.css);
@import url(../blocks/footer/__column-title/footer__column-title.css);
@import url(../blocks/footer/__link/footer__link.css);

/* Крошки */
@import url(../blocks/crumbs/crumbs.css);
@import url(../blocks/crumbs/__item/crumbs__item.css);
@import url(../blocks/crumbs/__list/crumbs__list.css);

/* Список */
@import url(../blocks/table/table.css);
@import url(../blocks/table/__list/table__list.css);
@import url(../blocks/table/__item/table__item.css);
@import url(../blocks/table/__image/table__image.css);
@import url(../blocks/table/__title/table__title.css);
@import url(../blocks/table/__description/table__description.css);

/* Диллеры */
@import url(../blocks/dealers/dealers.css);
@import url(../blocks/dealers/__list/dealers__list.css);
@import url(../blocks/dealers/__item/dealers__item.css);
@import url(../blocks/dealers/__city/dealers__city.css);

section {
    margin: 0 8.75em;
}

.page-title {
    text-align: center;
}

.crumbs {
    margin-bottom: 0;
}

.contact {
    padding: 6.25em 0;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.contact__form {
    margin-right: 8em;
}

.contact__title {
    margin-right: 2.5em;
}

.table__item {
    height: auto;
    width: 32%;
}

.table__item .block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.table__item .container {
    margin: 0 0 0 1.875em;
}

.table__title {
    letter-spacing: normal;
    font-size: 1.3em;
    font-weight: bold;
}

.table__description {
    letter-spacing: normal;
    font-size: 1.1em;
    margin-top: .7em;
    margin-bottom: 0;
}

.table__image {
    height: auto;
    width: 100%;
}

.table__item .link {
    letter-spacing: normal;
}

.table__tel {
    font-size: 1.2em;
}

.table__list {
    margin-bottom: -4em;
}

.cells {
    background-color: #f5f5f5;
}

.img {
    width: 100%;
}


.second-block {
    margin-top: 2em;
    font-size: 1.2em;
}

.contact-mob {
    display: none;
}

@media screen and (max-width: 640px){
    .page-title {
        text-align: left;
        margin: 20px 0;
    }



    .contact {
        display: none;
    }

    .contact-mob {
        display: flex;
        padding-bottom: 17em;
        padding-top: 10em;
    }

    .contact__form {
        margin: 0;
    }

    .contact__title-block {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-bottom: 2em;
    }

    .contact__title {
        margin: 0;
    }

    .contact__title br {
        display: none;
    }

    .contact__field {
        font-size: 14px;
    }

    .contact__submit {
        font-size: 14px;
    }

    .table__item {
        width: 100%;
        -moz-border-image: url('../images/border-bottom.png');
        -webkit-border-image: url('../images/border-bottom.png');
        -o-border-image: url('../images/border-bottom.png');
        border-image: url('../images/border-bottom.png') 0 0 3 0 !important;
        border-bottom: 1px solid black;
        padding-bottom: 40px;
        margin-bottom: 50px;
    }

    .table__item .block {
        justify-content: space-between;
    }

    .table__item .container {
        margin: 0 6.6em;
    }

    .table__title,
    .table__description,
    .table__tel,
    .second-block .link{
        font-size: 20px;
    }

    .table__item .block .img {
        width: 70%;
    }

    .dealers__city {
        font-size: 24px;
        padding-top: 20px;
    }

    .dealers {
        overflow: scroll;
    }

    .dealers__item {
        width: 35%;
    }

    .dealers__item .link {
        font-size: 24px;
    }
}