/* Шрифты */
@import url(../blocks/fonts/fonts.css);

/* Общие стили */
@import url(../blocks/root/root.css);
@import url(../blocks/marged/marged.css);
@import url(../blocks/container/container.css);

/* Поиск */
@import url(../blocks/search/search.css);

/* Блок языка */
@import url(../blocks/language/language.css);
@import url(../blocks/language/__current-lng/language__current-lng.css);
@import url(../blocks/language/__change-lng/language__change-lng.css);

/* Блок с названием компании */
@import url(../blocks/company/company.css);
@import url(../blocks/company/__title/company__title.css);
@import url(../blocks/company/__subtitle/company__subtitle.css);
@import url(../blocks/company/_theme/company_theme_dark.css);
@import url(../blocks/company/_theme/company_theme_light.css);

/* Выравнивание текста */
@import url(../blocks/text-align/_left.css);
@import url(../blocks/text-align/_right.css);
@import url(../blocks/text-align/center.css);

/* Ссылки */
@import url(../blocks/link/link.css);
@import url(../blocks/link/_theme/link_theme_dark.css);
@import url(../blocks/link/_theme/link_theme_light.css);
@import url(../blocks/link/_underlined/link_underlined.css);
@import url(../blocks/link/_sm/link_sm.css);
@import url(../blocks/link/_strong/link_strong.css);

/* Логотипы */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

/* Заголовки */
@import url(../blocks/title/title.css);
@import url(../blocks/page-title/page-title.css);

/* Шапка */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__subline/header__subline.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Навигационное меню */
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/__block/navbar__block_left.css);
@import url(../blocks/navbar/__block/navbar__block_right.css);
@import url(../blocks/navbar/__list/navbar__list.css);
@import url(../blocks/navbar/__item/navbar__item.css);
@import url(../blocks/navbar/__phone/navbar__phone.css);
@import url(../blocks/navbar/__tel/navbar__tel.css);
@import url(../blocks/navbar/_theme/navbar_theme_dark.css);
@import url(../blocks/navbar/_theme/navbar_theme_light.css);
@import url(../blocks/navbar/__menu-ic/navbar__menu-ic.css);

/* Телефонное меню */
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/mobile-menu/__list/mobile-menu__list.css);
@import url(../blocks/mobile-menu/__item/mobile-menu__item.css);

/* Форма контактная */
@import url(../blocks/contact/contact.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contact/__block/contact__block.css);
@import url(../blocks/contact/__title-block/contact__title-block.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__form/contact__form.css);
@import url(../blocks/contact/__field/contact__field.css);
@import url(../blocks/contact/__submit/contact__submit.css);
@import url(../blocks/contact/__first-block/contacts__first-block.css);
@import url(../blocks/contact/__second-block/contacts__second-block.css);
@import url(../blocks/contacts/__container/contacts__container.css);

/* Секция связи */
@import url(../blocks/contacts/contacts.css);

/* Подвал */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column-item/footer__column-item.css);
@import url(../blocks/footer/__column-title/footer__column-title.css);
@import url(../blocks/footer/__link/footer__link.css);

/* Крошки */
@import url(../blocks/crumbs/crumbs.css);
@import url(../blocks/crumbs/__item/crumbs__item.css);
@import url(../blocks/crumbs/__list/crumbs__list.css);

/* Пагинация */
@import url(../blocks/pagination/pagination.css);
@import url(../blocks/pagination/__list/pagination__list.css);
@import url(../blocks/pagination/__item/pagination__item.css);
@import url(../blocks/pagination/__link/pagination__link.css);
@import url(../blocks/pagination/__selected/pagination__selected.css);

/* Информер */
@import url(../blocks/page-informer/page-informer.css);
@import url(../blocks/page-informer/__date/page-informer__date.css);
@import url(../blocks/page-informer/__description/page-informer__description.css);
@import url(../blocks/page-informer/__title/page-informer__title.css);
@import url(../blocks/page-informer/__img/page-informer__img.css);
@import url(../blocks/page-informer/__btn/page-informer__btn.css);
@import url(../blocks/page-informer/__text/page-informer__text.css);

/* Список */
@import url(../blocks/table/table.css);
@import url(../blocks/table/__list/table__list.css);
@import url(../blocks/table/__item/table__item.css);
@import url(../blocks/table/__image/table__image.css);
@import url(../blocks/table/__title/table__title.css);
@import url(../blocks/table/__description/table__description.css);

/* Плитки новостей */
@import url(../blocks/news/news.css);
@import url(../blocks/news/__list/news__list.css);
@import url(../blocks/news/__item/news__item.css);
@import url(../blocks/news/__title/news__title.css);
@import url(../blocks/news/__description/news__description.css);
@import url(../blocks/news/__text/news__text.css);
@import url(../blocks/news/__date/news__date.css);
@import url(../blocks/news/__img/news__img.css);
@import url(../blocks/news/__img-link/news__img-link.css);

section {
    margin: 0 8.75em;
}

.page-title {
    text-align: center;
}

.crumbs {
    margin-bottom: 0;
}

.contact {
    padding: 6.25em 0;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.contact__form {
    margin-right: 8em;
}

.contact__title {
    margin-right: 2.5em;
}

.page-informer__text {
    min-width: 57.1875em;
    font-size: .85em;
}

.page-informer__img {
    height:  27.5em;
    width: 40em;
}

.page-informer .container {
    margin-right:13em;
}

.news__item {
    width: 100%;
    margin-bottom: 4.0625em;
}
.news__list {
   width: 100%;
    margin: 0!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.news__title {
    font-size: 130%;
}

.contact-mob {
    display: none;
}

@media screen and (max-width: 640px){
    .page-title {
        text-align: left;
        margin: 1em 0;
        padding-left: .3em;
    }

    .page-informer {
        padding: 5em 0;
    }

    .page-informer .container {
        width: 87%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .page-informer__date {
        font-size: 14px;
    }

    .page-informer__title {
        font-size: 20px;
        width: 100%;
    }

    .page-informer__description {
        font-size: 14px;
        margin-bottom: 0;
    }

  .page-informer__text .page-informer__description:last-of-type {
      display: none;
  }

    .page-informer__btn {
        font-size: 11px;
        display: none;
    }

    .page-informer__text {
        margin-left: 0;
        min-width: auto;
        width: 50%;
        max-width: 40em;
    }

    .page-informer__img {
        height: 40em;
        width: 60%;
        margin-top: 5%;
    }

    .pagination {
        display: none;
    }

    .contact {
        display: none;
    }

    .contact-mob {
        display: flex;
        padding-bottom: 17em;
        padding-top: 10em;
    }

    .contact__form {
        margin: 0;
    }

    .contact__title-block {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-bottom: 2em;
    }

    .contact__title {
        margin: 0;
    }

    .contact__title br {
        display: none;
    }

    .contact__field {
        font-size: 14px;
    }

    .contact__submit {
        font-size: 14px;
    }

    .news__list {
        grid-template-columns: 1fr;
    }

    .news__item {
        justify-content: space-between;
        -moz-border-image: url('../images/border-bottom.png');
        -webkit-border-image: url('../images/border-bottom.png');
        -o-border-image: url('../images/border-bottom.png');
        border-image: url('../images/border-bottom.png') 0 0 3 0 !important;
        display: grid;
        grid-template-columns: 2fr 3fr ;
        border-bottom: 1px solid black;
        padding: 5em 0 ;
    }

    .news__item:nth-child(5n) {
        border: 1px solid black;
    }

    .news__item:last-child {
        border-bottom: 0;
    }

    .news__img-link {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .news__img {
        width: 70%;
        max-width: none;
    }

    .news__text {
        max-width: none;
    }

    .news__title {
        font-size: 18px;
        width: 100%;
        max-width: none;
        letter-spacing: .2em;
    }

    .news__description {
        font-size: 14px;
    }

    .news__date {
        font-size: 14px;
    }

    .news__list {
        margin-bottom: 8em !important;
    }
}

@media screen and (max-width: 600px){
    .page-informer__date {
        font-size: 12px;
    }

    .page-informer__title {
        font-size: 18px;
    }

    .page-informer__description {
        font-size: 12px;
    }

    .page-informer__btn {
        font-size: 9px;
    }

}

@media screen and (max-width: 550px){
    .page-informer__date {
        font-size: 10px;
    }

    .page-informer__title {
        font-size: 16px;
    }

    .page-informer__description {
        font-size: 10px;
    }

    .page-informer__btn {
        font-size: 7px;
    }

    .contact__form {
        text-align: center;
    }

}


@media screen and (max-width: 500px){
    .page-informer__date {
        font-size: 8px;
    }

    .page-informer__title {
        font-size: 14px;
    }

    .page-informer__description {
        font-size: 8px;
    }

    .page-informer__btn {
        font-size: 5px;
    }

    .page-title {
        padding-left: .7em;
    }

}

@media screen and (max-width: 450px){

    .page-informer__date {
        font-size: 6px;
    }

    .page-informer__title {
        font-size: 12px;
    }

    .page-informer__description {
        font-size: 6px;
    }

    .page-informer__btn {
        font-size: 3px;
    }

    .page-informer__img {
        height: auto;
    }
}

@media screen and (max-width: 380px){

    .page-informer__text {
        width: 45%;
    }

    .page-informer__img {
        width: 50%;
    }

    .page-informer__date {
        font-size: 6px;
    }

    .page-informer__title {
        font-size: 10px;
    }

    .page-informer__description {
        font-size: 4px;
    }

    .page-informer__btn {
        font-size: 3px;
    }

    .news__img {
        width: 90%;
    }
}