#slider-header .slider__control {
    position: absolute;
    top: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.125em;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 100%;
    transform: translateY(-50%);
}

#slider-header .slider__control:hover,
#slider-header .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

#slider-exhibitions .slider__control {
    position: absolute;
    top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.125em;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 100%;
    transform: translateY(-50%);
}

#slider-exhibitions .slider__control:hover,
#slider-exhibitions .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}