.news__list {
    list-style: none;
    max-width: 1650px;
    padding: 0;
    margin: 7.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}